#=== Postgres Database ===
POSTGRES_USER=your_username
POSTGRES_PASSWORD=your_password
POSTGRES_DB=user_service_db

#=== Kafka ===
# Сгенерируйте уникальный 22-символьный Base64 ID с помощью Java:
# jshell <<< "System.out.println(java.util.Base64.getEncoder().encodeToString(java.util.UUID.randomUUID().toString().getBytes()).substring(0, 22))"
KAFKA_CLUSTER_ID=your_generated_22_char_base64_id

#=== Mail Server ===
MAIL_USERNAME=your_mail_username
MAIL_PASSWORD=your_mail_password

#=== Ports ===
POSTGRES_PORT=5432
KAFKA_PORT=9092
MAILHOG_SMTP_PORT=1025
MAILHOG_UI_PORT=8025
CONFIG_SERVER_PORT=8888
DISCOVERY_SERVER_PORT=8761
USER_SERVICE_PORT=8080
NOTIFICATION_SERVICE_PORT=8082
GATEWAY_SERVICE_PORT=8765